<aside>
  <div class="card mb-3">
    <div class="card-body text-center">
      <a href="./people">
        <h4 class="h4-show-all mr-2 all-people-desktop">All People</h4>
      </a>
      <!-- <a href="./people">
        <h4 class="h4-show-all mr-2 all-people-mobile">All People</h4>
      </a> -->
      <p class="lead text-center all-people-desktop">Search by name or technology</p>
      <app-aside-search-bar class="all-people-desktop" [users]="users" [fullUsers]="users"></app-aside-search-bar>
    </div>
  </div>
</aside>