h1 span,
h2 span {
    color: rgb(0, 127, 0);
}

.creator-profile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.creator-profile:hover {
    transform: scale(1.1);
}

.creator-profile a {
    color: black;
    text-decoration: none;
}

.creator-profile a img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.reveal-section {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.reveal-section.reveal {
    opacity: 1;
    transform: translateY(0);
}