nav {
    background-color: rgb(67, 183, 122);
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

nav a:hover {
    color: rgb(13, 114, 56);
    border-radius: 50%;
}