<div class="container">
  <div class="theme-container"></div>
  <div class="profile-picture-container"></div>
  <div class="social-line">
    <i class="fab fa-facebook"></i>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-github"></i>
    <i class="fab fa-linkedin"></i>
    <i class="fab fa-twitter"></i>
    <i class="fab fa-reddit"></i>
  </div>
  <div class="info-container">
    <h1>JOHN DOE BANANA</h1>
      <h3>Info</h3>
    <div class="info">
      <div class="basic-info">
        <p>Age: </p>
        <p>Location: </p>
        <p>Tel: </p>
        <p>Email: </p>
      </div>
      <div class="basic-info-content">
        <p>12</p>
        <p>Prague</p>
        <p>278 666</p>
        <p>monika.s@mirdo.com</p>
      </div>
      <div class="basic-info">
        <p>Age: </p>
        <p>Location: </p>
        <p>Tel: </p>
        <p>Email: </p>
      </div>
      <div class="basic-info-content">
        <p>12</p>
        <p>Prague</p>
        <p>278 666</p>
        <p>monika.s@mirdo.com</p>
      </div>
    </div>


  </div>
</div>
