nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(67, 183, 122);
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

nav a {
    padding: 20px 16px;
    text-decoration: none;
    font-size: 17px;
    color: white;
}

nav img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 10%;
}

nav a:hover {
    color: rgb(217, 221, 220);
    border-radius: 50%;
}