body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 50px;
}

.content {
    text-align: center;
}

section {
    margin-top: 2rem;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

form input {
    width: 200px;
}