/* Reset default margin and padding */


.img-container{
  display: flex;
  justify-content: center;
}

/* Style the navigation */
nav {
  background-color: rgb(67, 183, 122);
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

/* Style the heading */
h1 {
  color: rgb(13, 114, 56);
  text-align: center;
  padding: 20px;
  font-size: 24px;
}

nav a:hover {
  color: rgb(13, 114, 56);
  border-radius: 50%;
}

img {
  align-items: center;
}
