<app-header></app-header>

<app-back-to-top-btn></app-back-to-top-btn>

<!--<div class="px-4 py-2 my-4 text-center">-->
<!--  <img class="d-block mx-auto mb-4" src="../../../assets/img/Construction.png" alt="" width="300" height="">-->
<!--  <div class="col-lg-6 mx-auto">-->
<!--    <h1 class="display-5 fw-bold text-body-emphasis">Page is under construction</h1>-->
<!--    <p class="lead mb-4">We are working on this site for you!</p>-->
<!--    <div class="d-grid gap-2 d-md-flex justify-content-md-center">-->
<!--      <a href="./" class="btn btn-primary btn-lg px-4 me-md-2" role="button" aria-disabled="true">Home</a>-->
<!--      <a href="./people" class="btn btn-outline-secondary btn-lg" role="button" aria-disabled="true">Show community</a>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<app-posts [currentUserId]="1"></app-posts>
<app-footer></app-footer>

<!-- working on the content -->

<!-- <div>
  <main>
    <div class="article-div">
      <article>
        <div class="article-head">
          <h3 class="article-heading"></h3>
          <a href="./profile" class="author">

            <h5 class="author-name"></h5>
            <img src="" alt="picture of author" class="author-pic">
          </a>
        </div>
        <div class="article-body">
          <p class="article-content"></p>
          <time class="time-stamp"></time>
        </div>
        <div class="article-react">
          <div class="like">
            <button class="like">like</button>
            <button class="dislike">dislike</button>
          </div>
          <div class="comment">
            <button class="comment">comment</button>
          </div>
        </div>
      </article>
    </div>

    <div class="aside-div">
      <app-aside></app-aside>
    </div>

    <a href=""><img src="" alt="img of arrow"></a>
  </main>

</div> -->
