<app-header></app-header>
<div>
  <main>
    <div class="article-div">
      <article>
        <div class="article-head">
          <h3 class="article-heading"></h3>
          <a href="./profile" class="author">

            <h5 class="author-name"></h5>
            <img src="" alt="picture of author" class="author-pic">
          </a>
        </div>
        <div class="article-body">
          <p class="article-content"></p>
          <time class="time-stamp"></time>
        </div>
        <div class="article-react">
          <div class="like">
            <button class="like">like</button>
            <button class="dislike">dislike</button>
          </div>
          <div class="comment">
            <button class="comment">comment</button>
          </div>
        </div>
      </article>
    </div>

    <div class="aside-div">
      <app-aside></app-aside>
    </div>

    <a href=""><img src="" alt="img of arrow"></a>
  </main>

  <footer></footer>
</div>
