<app-header></app-header>

<app-back-to-top-btn></app-back-to-top-btn>

<div class="container col-xxl-8 px-4 py-3 my-4 mb-6">
  <div class="row flex-lg-row align-items-center g-5 py-3">

    <div class="col-10 col-sm-8 col-lg-6">
      <img src="../../../assets/img/Group.png" class="d-block mx-lg-auto img-fluid" alt="Build"
           width="700" height="500" loading="lazy">
    </div>

    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3"><span>One Page</span> to Rule them All! </h1>
      <h2 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">One Page to bring them all and in the 🦊 bind them. </h2>
      <p class="lead">FoxBook is here to revolutionize the way you socialize and <b>bring the worlds closer together</b>. </p>
      <p class="lead">The Page where everybody wants to be. </p>
    </div>
  </div>
</div>

<div class="container main-container">
  <div class="row">
    <app-posts class="col-12 col-md-9" [userRole]="userRole" [userFullName]="userFullName"></app-posts>
    <app-aside class="col-12 col-md-3"></app-aside>
  </div>
</div>

<app-footer></app-footer>
