<app-header></app-header>

<app-back-to-top-btn></app-back-to-top-btn>

<div class="container col-xxl-8 px-4 py-5">

  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">

    <!-- image -->

    <div class="col-10 col-sm-8 col-lg-6">
      <img src="../../../assets/img/Coder.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700"
        height="500" loading="lazy">
    </div>

    <!-- intro text with image-->

    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Welcome to <span>FoxBook</span> App</h1>
      <p class="lead">The ultimate platform connecting individuals within
        the dynamic world of IT. </p>
      <p class="lead">Designed exclusively for the vibrant community of <b>Green Fox Academy</b>, this app bridges
        the gap between talented professionals, aspiring developers, and eager headhunters.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="./main" class="btn btn-primary btn-lg px-4 me-md-2" role="button" aria-disabled="true">Visit</a>
        <a href="./login" class="btn btn-outline-secondary btn-lg" role="button" aria-disabled="true">Sign in</a>
        <a href="./register" class="btn btn-outline-secondary btn-lg" role="button" aria-disabled="true">Sign up</a>
      </div>
    </div>

    <!-- icon grid -->

    <div class="container px-4 py-5" id="icon-grid">
      <h2 class="pb-2 border-bottom">Icon grid</h2>
  
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
        <div class="col d-flex align-items-start">
          <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#bootstrap"/></svg>
          <div>
            <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Featured title</h3>
            <p>Paragraph of text beneath the heading to explain the heading.</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#cpu-fill"/></svg>
          <div>
            <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Featured title</h3>
            <p>Paragraph of text beneath the heading to explain the heading.</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#calendar3"/></svg>
          <div>
            <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Featured title</h3>
            <p>Paragraph of text beneath the heading to explain the heading.</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#home"/></svg>
          <div>
            <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Featured title</h3>
            <p>Paragraph of text beneath the heading to explain the heading.</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#speedometer2"/></svg>
          <div>
            <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Featured title</h3>
            <p>Paragraph of text beneath the heading to explain the heading.</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#toggles2"/></svg>
          <div>
            <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Featured title</h3>
            <p>Paragraph of text beneath the heading to explain the heading.</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#geo-fill"/></svg>
          <div>
            <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Featured title</h3>
            <p>Paragraph of text beneath the heading to explain the heading.</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <i class="bi bi-cpu flex-shrink-0 me-3" width="1.75em" height="1.75em"></i>
          <div>
            <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Featured title</h3>
            <p>Paragraph of text beneath the heading to explain the heading.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- about app -->

    <div class="container col-xxl-8 px-4 py-5">
      <div class="row flex-lg-row align-items-center g-5 py-5">

        <div class="col-10 col-sm-8 col-lg-6">
          <img src="../../../assets/img/Build.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700"
            height="500" loading="lazy">
        </div>

        <div class="col-lg-6">
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">About FoxBook</h1>
          <h2 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Why should you join?</h2>
          <p class="lead">Welcome to FoxBook App: the game-changing social platform that brings together the brightest
            minds in the ever-evolving realm of IT. Whether you're a passionate student, a seasoned mentor, or a driven
            headhunter, this dynamic app is your gateway to endless opportunities and fruitful connections within the
            Green Fox Academy community.</p>
          <p class="lead">Imagine a world where talent thrives, collaborations flourish, and career dreams become
            reality. With FoxBook, this vision becomes a powerful reality. Our exclusive platform is designed to empower
            you, enabling you to network, showcase your skills, and explore new horizons in the vast landscape of the IT
            industry.</p>
        </div>
      </div>
    </div>

    <div class="container col-xxl-8 px-4 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">

        <div class="col-10 col-sm-8 col-lg-6">
          <img src="../../../assets/img/Rating.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700"
            height="500" loading="lazy">
        </div>

        <div class="col-lg-6">
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Why FoxBook?</h1>
          <h2 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">People you can meet.</h2>
          <p class="lead">For <b>students</b>, FoxBook is your digital companion throughout your learning journey. Connect with
            like-minded peers, share knowledge, and gain inspiration from experienced mentors. Seamlessly navigate
            through projects, exchange ideas, and forge invaluable friendships that will shape your future success.</p>
          <p class="lead"><b>Mentors</b>, FoxBook is your arena to guide and inspire the next generation of tech enthusiasts.
            Share your expertise, nurture budding talent, and cultivate a strong professional network. Harness the power
            of collaboration and watch as your impact multiplies exponentially.</p>
          <p class="lead">And for <b>headhunters</b> seeking top talent, FoxBook is your treasure trove of potential. Discover
            a pool of exceptional individuals who have honed their skills at Green Fox Academy. Uncover hidden gems,
            engage in meaningful conversations, and identify the perfect fit for your organization.</p>
        </div>
      </div>
    </div>

    <div class="container col-xxl-8 px-4 py-5">
      <div class="row flex-lg-row align-items-center g-5 py-5">

        <div class="col-10 col-sm-8 col-lg-6">
          <img src="../../../assets/img/Launch.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700"
            height="500" loading="lazy">
        </div>

        <div class="col-lg-6">
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Be one of us!</h1>
          <h2 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Right here, right now.</h2>
          <p class="lead">At FoxBook, we understand that success in the IT world is not just about what you know; it's about who you know. That's why our app fosters a supportive and inclusive environment, where connections transcend borders and barriers. We believe in the power of community, where diverse perspectives converge to spark innovation and drive change.</p>
          <p class="lead">So, join us on FoxBook and embark on a journey that will redefine your professional trajectory. Whether you're a student seeking guidance, a mentor looking to make an impact, or a headhunter in search of exceptional talent, our platform is the catalyst for your success.</p>
          <p class="lead">Together, let's unleash the potential within us and make waves in the exciting world of IT. FoxBook awaits you with open arms, ready to empower, connect, and transform.</p>
          <h2 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Welcome to the future of IT networking. Welcome to FoxBook.</h2>
          <h2 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Join the FoxBook revolution today and take the IT world by storm!</h2>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="./login" class="btn btn-primary btn-lg" role="button" aria-disabled="true">Sign in</a>
            <a href="./register" class="btn btn-outline-secondary btn-lg" role="button" aria-disabled="true">Sign up</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<app-footer></app-footer>