<app-header></app-header>

<div class="container col-xxl-8 px-4 py-5">

  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">

    <!-- image -->

    <div class="col-10 col-sm-8 col-lg-6">
      <img src="../../../assets/img/Coder.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700"
        height="500" loading="lazy">
    </div>

    <!-- text with image-->

    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Welcome to <span>FoxBook</span> App</h1>
      <p class="lead">The ultimate platform connecting individuals within
        the dynamic world of IT. </p>
      <p class="lead">Designed exclusively for the vibrant community of <b>Green Fox Academy</b>, this app bridges
        the gap between talented professionals, aspiring developers, and eager headhunters.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="./main" class="btn btn-primary btn-lg px-4 me-md-2" role="button" aria-disabled="true">Visit</a>
        <a href="./login" class="btn btn-outline-secondary btn-lg" role="button" aria-disabled="true">Sign in</a>
        <a href="./register" class="btn btn-outline-secondary btn-lg" role="button" aria-disabled="true">Sign up</a>
      </div>
    </div>

  </div>
</div>

<app-footer></app-footer>