.card {
    border-radius: 10px;
    margin-bottom: 1rem;
}

@media (max-width: 767.98px) {

    .card {
        width: 320px;
    }

}

.card-header:hover {
    cursor: pointer;
}

.card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left-side {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.left-side a {
    border: none;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: none;
}

.left-side a img {
    border: 5px solid white;
    background: rgba(255, 255, 255, 0);
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

@media (max-width: 767.98px) {

    .left-side a {
        display: none;
    }

}

.left-side a img:hover {
    transform: scale(1.1);
}

.card-body, 
.collapse {
    border-radius: 10px;
}

label {
    font-size: small;
    font-weight: bold;
  }