.text-left a {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-left a:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.text-left a img {
    border-radius: 50%;
}

tr:hover {
    background: rgba(0, 0, 0, 0.041);
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
}