
<div class="center">
    <div class="box center">

        <a [routerLink]="['/profile',user.nickname]" class="card">
            <img *ngIf="user.profilePictureUrl" ngSrc="{{  user.profilePictureUrl  }}" height=100 width=100
                class="profile-img" loading="lazy" alt="profile_picture">
        </a>

        <div>
            <p class="lead username">{{user.firstName}} {{user.lastName}}</p>
            <p class="lead skill">{{user.personality?.name}}</p>
            <button class="btn btn-outline-primary" type="button" *ngIf="!isLoggedIn" (click)="addToCart(user)" > {{user.inCart? "in 🛒 " : "Add to Cart"}}</button>
        </div>

        <div class="arr-container center">
            <i class="bi bi-arrow-right"></i>
        </div>

        <div class="left-container off">
            <p>Personality</p>
            <div class="personality-about">
                <div>{{user.personality?.description}}</div>
            </div>

            <div class="icons">
                <a [href]="user.facebook">
                    <i class="bi bi-facebook"></i>
                </a>
                <a [href]="user.instagram">
                    <i class="bi bi-instagram"></i>
                </a>
                <a [href]="user.linkedin">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a [href]="user.gitHub">
                    <i class="bi bi-github"></i>
                </a>
                <a [href]="user.optionalPage">
                    <i class="bi bi-globe"></i>
                </a>
            </div>

            <div class="cancel center">
                <i class="bi bi-x-lg"></i>
            </div>

        </div>
    </div>
</div>
