.profile {
    width: 250px;
    height: 100px;
    border-radius: 5px;
    background-color: #f3f3f3;
    box-shadow: 0 0 2rem grey;
    display: flex;
    align-items: center;
    margin: 2rem;
}

.profile .photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #dadada;
    background-color: #ffffff;
    box-shadow: 0 0 2rem #737373;
    animation: rotate-photo .5s forwards ease-in-out;
    margin-left: -50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile .photo img {
    border-radius: 50%;
}

.profile .content {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 50px);
}

.profile .content .text {
    display: flex;
    flex-direction: column;
}

.profile .content .text h3,
.profile .content .text h6 {
    font-size: 15px;
}

.app-technologies {
    display: flex;
    flex-direction: row;
}

p {
    display: flex;
    flex-wrap: wrap;
}

.profile .btn {
    background-color: #e9e9e9;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
    transition-duration: .3s;
    animation: pop-btn .3s both ease-in-out .5s;
    position: relative;
}

@keyframes pop-btn {
    0% {
        transform: scale(0);
    }

    80% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.profile .btn:hover {
    box-shadow: 0 0 0 5px #ffffff;
}

.profile .btn span {
    width: 60%;
    height: 2px;
    position: absolute;
    background-color: #000000;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
    animation: to-hamburger .3s forwards ease-in-out;
}

.profile .btn span:before,
.profile .btn span:after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: #000000;
    transition-duration: .3s;
    transform: rotate(0);
    right: 0;
}

.profile .btn span:before {
    margin-top: -7px;
}

.profile .btn span:after {
    margin-top: 7px;
}

.profile .btn.active span {
    animation: to-arrow .3s forwards ease-in-out;
}

.profile .btn.active span:after,
.profile .btn.active span:before {
    width: 60%;
    right: -1px;
}

.profile .btn.active span:before {
    transform: rotate(45deg);
}

.profile .btn.active span:after {
    transform: rotate(-45deg);
}

@keyframes to-hamburger {
    from {
        transform: translateY(-50%) rotate(0);
    }

    to {
        transform: translateY(-50%) rotate(180deg);
    }
}

@keyframes to-arrow {
    from {
        transform: translateY(-50%) rotate(0);
    }

    to {
        transform: translateY(-50%) rotate(180deg);
    }
}

.profile .btn .box {
    width: 150px;
    height: 150px;
    opacity: 0;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translate(-50%, -50%);
    transition-duration: .3s;
    pointer-events: none;
}

.profile .btn.active .box {
    opacity: 1;
    pointer-events: auto;
}

.profile .btn .box a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f6f6f6;
    font-size: 26px;
    text-align: center;
    line-height: 50px;
    position: absolute;
    left: 18px;
    top: calc(75px - 50px/2);
    box-shadow: 0 0 .5rem grey;
    transition-duration: .3s;
    text-decoration: none;
    color: #111111;
}

.profile .box a:hover {
    transition-delay: initial !important;
}

/* CSS for icon colors */
.bi-facebook:hover {
    color: #3b5998;
}

.bi-globe:hover {
    color: #0d9c00;
}

.bi-linkedin:hover {
    color: #0077b5;
}

.bi-instagram:hover {
    color: #bc2a8d;
}

.bi-github:hover {
    color: #272727;
}

.profile .box.open {
    opacity: 1;
}

.profile .box.open a {
    left: 60px;
}

.profile .box.open a:nth-of-type(1) {
    transform: rotate(-90deg) translateX(120px) rotate(90deg);
    transition-delay: .1s;
}

.profile .box.open a:nth-of-type(2) {
    transform: rotate(-45deg) translateX(120px) rotate(45deg);
    transition-delay: .1s;
}

.profile .box.open a:nth-of-type(3) {
    transform: rotate(0deg) translateX(120px) rotate(0deg);
    transition-delay: .1s;
}

.profile .box.open a:nth-of-type(4) {
    transform: rotate(45deg) translateX(120px) rotate(-45deg);
    transition-delay: .1s;
}

.profile .box.open a:nth-of-type(5) {
    transform: rotate(90deg) translateX(120px) rotate(-90deg);
    transition-delay: .1s;
}