<app-header></app-header>

<app-back-to-top-btn></app-back-to-top-btn>

<div class="container rounded bg-white mt-2 mb-5">

  <!--  progress bar   -->
  <div class="d-flex flex-column justify-content-center align-items-center">
    <p class="lead">Profile Completion Progress Bar</p>
    <p class="lead labels font-weight-bold text-center">Pro tip: If you want to be visible and increase you chances to
      get a job, fill up all the profile
      information.</p>
  </div>
  <div class="position-relative">
    <div class="progress-label position-absolute w-100 text-center" style="top: -25px;">
      {{ profileProgress }}%
    </div>
    <div class="progress my-4">
      <div class="progress-bar bg-success" role="progressbar" [style.width.%]="profileProgress" aria-valuemin="0"
        aria-valuemax="100"></div>
    </div>
  </div>
  <!-- end progress bar -->

  <div class="row">

    <div class="col-md-3 border-right">
      <div class="d-flex flex-column align-items-center text-center p-3 py-2"><img *ngIf="user.profilePictureUrl"
          class="rounded-circle mt-2" width=150 height=150 ngSrc="{{  user.profilePictureUrl  }}"
          alt="profile picture"><span class="font-weight-bold my-4">{{user.firstName}}
          {{user.lastName}}</span><span class="text-black-50">{{user.email}}</span><span>
        </span></div>
    </div>

    <div class="col-md-5 border-right">

      <div class="p-3 py-5">

        <form name="form" (ngSubmit)="updateUser()" novalidate>

          <p class="lead mt-4 border-bottom font-weight-bold">Profile Settings</p>

          <div class="row mt-2">
            <div class="col-md-6"><label class="labels">First Name</label><input type="text" class="form-control"
                [(ngModel)]="user.firstName" name="firstName" placeholder="first name" value="">
            </div>
            <div class="col-md-6"><label class="labels">Last Name</label><input type="text" class="form-control"
                [(ngModel)]="user.lastName" name="lastName" value="" placeholder="last name"></div>
          </div>

          <div class="row mt-2">
            <div class="col-md-6"><label class="labels">Completed projects</label><input type="text"
                class="form-control" [(ngModel)]="user.completeProjects" name="completeProjects"
                placeholder="enter number" value="">
            </div>
            <div class="col-md-6"><label class="labels">Years of experience</label><input type="text"
                class="form-control" [(ngModel)]="user.yearsOfExperience" name="yearsOfExperience" value=""
                placeholder="enter year">
            </div>

            <div class="col-md-12">
              <label class="labels">Year of birth</label><input type="number" class="form-control"
                [(ngModel)]="user.yearOfBirth" name="yearOfBirth" placeholder="enter year" value="">
            </div>
          </div>

          <p class="lead mt-4 border-bottom">Personality</p>
          <select class="form-select" aria-label="Default select example" (change)="onPersonalitySelect($event)">
            <option *ngFor="let personality of personalities" [value]="personality.id">{{personality.type}}</option>
          </select>

          <div class="mt-5 text-center">
            <a href="./personality-test" class="btn btn-outline-primary my-2 mx-2" role="button"
              aria-disabled="true">More info</a>
            <a href="https://www.16personalities.com/" class="btn btn-outline-warning my-2 mx-2" role="button" aria-disabled="true">Test Here</a>
          </div>

          <p class="lead mt-4 border-bottom font-weight-bold">Contacts & About</p>
          <div class="row mt-3">
            <div class="col-md-12">
              <label class="labels">Phone Number</label>
              <input type="text" class="form-control" placeholder="enter phone number" [(ngModel)]="user.phone"
                name="phone" value="">
            </div>
            <div class="col-md-12">
              <label class="labels">Location</label>
              <input type="text" class="form-control" placeholder="enter location" [(ngModel)]="user.location"
                name="location" value="">
            </div>
            <div class="col-md-12">
              <label class="labels">About</label>
              <textarea type="text" class="form-control" [(ngModel)]="user.about" name="about"
                placeholder="write something about you..." cols="30" rows="3"></textarea>
            </div>
          </div>

          <p class="lead mt-4 border-bottom font-weight-bold">Looking for Job?</p>

          <div class="mt-2">
            <div class="btn-group d-flex justify-content-around align-items-center" role="group"
              aria-label="radio button for work status">

              <div class="d-flex align-items-center">
                <input class="btn-check text mr-2" type="radio" name="workStatus" id="radio1"
                  [(ngModel)]="user.workStatus" [value]="true" autocomplete="off">
                <label for="radio1" class="btn btn-outline-primary form-check-label">Yes</label>
              </div>

              <div class="d-flex align-items-center">
                <input class="btn-check mr-2" type="radio" name="workStatus" id="radio2" [(ngModel)]="user.workStatus"
                  [value]="false" autocomplete="off" checked>
                <label for="radio2" class="btn btn-outline-danger form-check-label">No</label>
              </div>

            </div>
          </div>

          <p class="lead mt-4 border-bottom font-weight-bold">Social Media</p>

          <div class="row">

            <div class="col-md-12"><label class="labels">Github</label><input type="text" class="form-control"
                [(ngModel)]="user.gitHub" name="github" placeholder="Github" value=""></div>
            <div class="col-md-12"><label class="labels">LinkedIn</label><input type="text" class="form-control"
                [(ngModel)]="user.linkedin" name="linkedin" placeholder="LinkedIn" value=""></div>
            <div class="col-md-12"><label class="labels">Facebook</label><input type="text" class="form-control"
                [(ngModel)]="user.facebook" name="facebook" placeholder="Facebook" value=""></div>
            <div class="col-md-12"><label class="labels">Instagram</label><input type="text" class="form-control"
                [(ngModel)]="user.instagram" name="instagram" placeholder="Instagram" value="">
            </div>
            <div class="col-md-12"><label class="labels">Your Webpage</label><input type="text" class="form-control"
                [(ngModel)]="user.optionalPage" name="optionalPage" placeholder="Your Webpage" value="">
            </div>
          </div>

          <div class="mt-5 text-center">
            <button class="btn btn-primary profile-button my-2 mx-2" type="button" data-toggle="modal"
              data-target="#addModal">Save Profile</button>
            <a href="./change-password" class="btn btn-outline-primary my-2 mx-2" role="button"
              aria-disabled="true">Change Password</a>
            <a href="./" class="btn btn-outline-secondary my-2 mx-2" role="button" aria-disabled="true">Go Back</a>
          </div>


          <!-- modal add-->

          <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content modal-save">

                <div class="modal-header border-bottom">
                  <h5 class="modal-title" id="addModalLabel">Are you sure?
                  </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="mt-5 mb-2 text-center">
                  <p class="lead">Do you want to update your profile?</p>
                </div>
                <div class="text-center">
                  <button class="btn btn-primary profile-button" type="submit" data-toggle="modal"
                    data-target="#addModal">Save profile
                  </button>
                </div>

              </div>
            </div>
          </div>

        </form>
      </div>
    </div>

    <div class="col-md-4">
      <div class="p-3 py-5">

        <p class="lead mt-4 border-bottom font-weight-bold">Edits</p>
        <div class="d-flex justify-content-between align-items-center experience my-2"><span>Edit
            Skills</span>
          <button class="btn border px-3 p-1 add-experience" (click)="unusedTechnologiesHandle()" type="button"
            data-toggle="modal" data-target="#skillsModal"><i class="fa fa-plus"></i>&nbsp;Skill
          </button>
        </div>

        <!-- modal skills-->

        <div class="modal fade" id="skillsModal" tabindex="-1" role="dialog" aria-labelledby="skillsModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <div class="allTechnologies">
                  <h5 class="modal-title mb-3">Select your skill </h5>
                  <input type="search" (ngModelChange)="searchTechnology(keyTech.value)" #keyTech="ngModel" ngModel
                    name="key" class="form-control form-control-dark text-bg-dark" placeholder="Search technology..."
                    aria-label="Search">
                  <app-technology-button *ngFor="let technology of unusedTechnologies" [technology]="technology"
                    [unusedTechnologies]="unusedTechnologies" [userTechnologies]="userTechnologies"
                    (technologyComponentEmitter)="handleTechnologyComponentEmitter($event)"></app-technology-button>
                </div>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>

              </div>

              <div class="modal-header">
                <div>
                  <h5 class="modal-title mb-3">Your Skills</h5>
                  <app-technology-button *ngFor="let technology of userTechnologies" [technology]="technology"
                    [unusedTechnologies]="unusedTechnologies" [userTechnologies]="userTechnologies"
                    (technologyComponentEmitter)="handleTechnologyComponentEmitter($event)"></app-technology-button>
                </div>
              </div>

              <div class="text-center">
                <button class="btn btn-primary profile-button" type="button" data-dismiss="modal"
                  aria-label="Close">Sure
                </button>
              </div>

            </div>
          </div>
        </div>

        <div class="d-flex justify-content-between align-items-center experience my-2"><span>Edit
            languages</span>
          <button class="btn border px-3 p-1 add-experience" (click)="unusedLanguagesHandle()" type="button"
            data-toggle="modal" data-target="#languagesModal"><i class="fa fa-plus"></i>&nbsp;Language
          </button>
        </div>

        <!-- modal languages-->

        <div class="modal fade" id="languagesModal" tabindex="-1" role="dialog" aria-labelledby="languagesModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <div class="allTechnologies">
                  <h5 class="modal-title mb-3" id="languagesModalLabel">Languages</h5>
                  <input type="search" (ngModelChange)="searchLanguage(keyLang.value)" #keyLang="ngModel" ngModel
                    name="key" class="form-control form-control-dark text-bg-dark"
                    placeholder="Search by name or technology..." aria-label="Search">

                  <app-language-button *ngFor="let language of unusedLanguages" [language]="language"
                    [unusedLanguages]="unusedLanguages" [userLanguages]="userLanguages"
                    (languageComponentEmitter)="handleLanguageComponentEmitter($event)"></app-language-button>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="modal-header">
                <div>
                  <h5>Your Languages</h5>
                  <app-language-button *ngFor="let language of userLanguages" [language]="language"
                    [unusedLanguages]="unusedLanguages" [userLanguages]="userLanguages"
                    (languageComponentEmitter)="handleLanguageComponentEmitter($event)"></app-language-button>
                </div>
              </div>

              <div class="text-center">
                <button class="btn btn-primary profile-button" type="button" data-dismiss="modal"
                  aria-label="Close">Sure
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-between align-items-center experience my-2"><span>Edit profile picture</span>
          <button class="btn border px-3 p-1 add-experience" type="button" data-toggle="modal"
            data-target="#imgModal"><i class="fa fa-plus"></i>&nbsp;Picture
          </button>
        </div>

        <!-- img modal -->

        <div class="modal fade" id="imgModal" tabindex="-1" role="dialog" aria-labelledby="imgModal" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content modal-picture">
              <div class="modal-header border-bottom">
                <h5 class="modal-title" id="imgModalLabel">Choose profile picture
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="mt-5 mb-5 text-center">
                <input type="file" (change)="onFileSelected($event)" />
                <br>
              </div>
              <div class="text-center">
                <button (click)="onUpload()" class="btn btn-primary profile-button" type="button" data-toggle="modal"
                  data-target="#imgModal">Upload picture
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- button trigger modal -->

        <div class="mt-5 text-center">
          <button class="btn btn-danger profile-button profile-delete-btn" type="button" data-toggle="modal"
            data-target="#exampleModal">Delete
            Profile
          </button>
        </div>

        <!-- modal delete -->

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content modal-delete">
              <div class="modal-header border-bottom">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure?
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="mt-5 text-center">
                <p class="lead">Do you really want to delete this profile?</p>
                <p class="lead">This action can't be undone.</p>
              </div>
              <div class="text-center">
                <button (click)="deleteAccount()" class="btn btn-danger profile-button profile-delete-btn" type="button"
                  data-toggle="modal" data-target="#exampleModal">Delete
                  Profile
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>