<app-header></app-header>

<div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
                <div class="col-md-3 border-right">
                        <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img
                                        class="rounded-circle mt-5" width="150px"
                                        src="../../../assets/img/logo.png"><span class="font-weight-bold">{{firstName}} {{lastName}}</span><span class="text-black-50">{{email}}</span><span>
                                </span></div>
                </div>
                <div class="col-md-5 border-right">
                        <div class="p-3 py-5">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                        <h4 class="text-right">Profile Settings</h4>
                                </div>
                                <div class="row mt-2">
                                        <div class="col-md-6"><label class="labels">First Name</label><input type="text"
                                                        class="form-control" placeholder="first name" value=""></div>
                                        <div class="col-md-6"><label class="labels">Last Name</label><input type="text"
                                                        class="form-control" value="" placeholder="last name"></div>
                                </div>
                                <div class="row mt-3">
                                        <div class="col-md-12"><label class="labels">Phone Number</label><input
                                                        type="text" class="form-control"
                                                        placeholder="enter phone number" value=""></div>
                                        <div class="col-md-12"><label class="labels">Address</label><input type="text"
                                                        class="form-control" placeholder="enter address" value=""></div>
                                        <div class="col-md-12"><label class="labels">Email</label><input type="text"
                                                        class="form-control" placeholder="enter email" value=""></div>
                                        <div class="col-md-12"><label class="labels">Education</label><input type="text"
                                                        class="form-control" placeholder="education" value=""></div>
                                </div>
                                <div class="row mt-3">
                                        <div class="col-md-6"><label class="labels">Country</label><input type="text"
                                                        class="form-control" placeholder="country" value=""></div>
                                        <div class="col-md-6"><label class="labels">State/Region</label><input
                                                        type="text" class="form-control" value="" placeholder="state">
                                        </div>
                                </div>
                                <div class="mt-5 text-center">
                                        <button class="btn btn-primary profile-button" type="button">Save
                                                Profile</button>
                                        <a href="./" class="btn btn-outline-secondary" role="button"
                                                aria-disabled="true">Go Back</a>
                                </div>
                        </div>
                </div>
                <div class="col-md-4">
                        <div class="p-3 py-5">
                                <div class="d-flex justify-content-between align-items-center experience"><span>Edit
                                                Skills</span><span class="border px-3 p-1 add-experience"><i
                                                        class="fa fa-plus"></i>&nbsp;Skill</span></div><br>
                                <div class="col-md-12"><label class="labels">Programming language</label><input
                                                type="text" class="form-control" placeholder="Java" value=""></div> <br>
                                <div class="col-md-12"><label class="labels">Spoken language</label><input type="text"
                                                class="form-control" placeholder="english" value=""></div>

                                <!-- button trigger modal -->

                                <div class="mt-5 text-center">
                                        <button class="btn btn-danger profile-button profile-delete-btn" type="button" data-toggle="modal" data-target="#exampleModal">Delete
                                                Profile</button>
                                </div>

                                <!-- modal -->

                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                        <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">Are you sure?
                                                                </h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                        aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                </button>
                                                        </div>
                                                        <div class="mt-5 text-center">
                                                                <p class="lead">Do you really want to delete this profile?</p>
                                                                <p class="lead">This action can't be undone.</p>
                                                        </div>
                                                        <div class="text-center">
                                                                <button (click)="deleteAccount()" class="btn btn-danger profile-button profile-delete-btn" type="button" data-toggle="modal" data-target="#exampleModal">Delete
                                                                        Profile</button>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</div>

<app-footer></app-footer>
