form {
  position: sticky;
  top: 0;
}

.card-deck {
  padding: 3rem;
  overflow: auto;
}

@media only screen and (max-width: 768px) {
  .card-deck {
    grid-template-columns: repeat(1, 1fr); 
    padding: 1rem;
  }
}
