body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

form input {
    width: 200px;
}

form button {
    margin-top: 1rem;
}
