<app-header></app-header>

<app-back-to-top-btn></app-back-to-top-btn>

<!-- photo, name, email -->
<div class="container rounded bg-white mt-5 mb-5">
  <div class="row">
    <div class="col-md-3 border-right">
      <div class="d-flex flex-column align-items-center text-center p-3 py-2">
        <img class="profile-img rounded-circle"  height=150 width=150 ngSrc="{{user.profilePictureUrl}}" alt="profile picture"/>
      </div>

      <!-- social links -->
      <div class="d-flex flex-column align-items-center text-center p-3 py-2">
        <h4 class="text-right">Social Links</h4>
        <div class="row mt-2">
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <a [href]="user.gitHub" class="nav-link px-2 text-body-secondary github">
                <i class="bi bi-github"></i>
              </a>
            </li>
            <li class="nav-item">
              <a [href]="user.linkedin" class="nav-link px-2 text-body-secondary linkedin">
                <i class="bi bi-linkedin"></i>
              </a>
            </li>
            <li class="nav-item">
              <a [href]="user.facebook" class="nav-link px-2 text-body-secondary facebook">
                <i class="bi bi-facebook"></i>
              </a>
            </li>
            <li class="nav-item">
              <a [href]="user.instagram" class="nav-link px-2 text-body-secondary instagram">
                <i class="bi bi-instagram"></i>
              </a>
            </li>
            <li class="nav-item">
              <a [href]="user.optionalPageURL" class="nav-link px-2 text-body-secondary optional">
                <i class="bi bi-globe"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>


      <div class="d-flex flex-column align-items-center text-center p-3 py-2 qr-code">
        <qrcode (qrCodeURL)="onChangeURL($event)" [qrdata]="'http://localhost:4200/profile/' + username" [width]="80"
          [errorCorrectionLevel]="'M'"></qrcode>
        <a [href]="qrCodeDownloadLink" download="qrcode">Download QR</a>
      </div>

      <!-- button trigger modal -->
      <div class="mt-5 text-center">
        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#exampleModal">
          Contact
        </button>
      </div>

      <!-- modal -->

      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Contact</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p><b>Email:</b> {{ user.email }}</p>
              <p><b>Telephone:</b> {{ user.phone }}</p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- main info section -->
    <div class="col-md-9">
      <div class="p-3 py-5">
        <div class="row mt-2">
          <div class="col-md-6">
            <label class="labels">Name</label>
            <p class="lead">{{ user.firstName }}</p>
          </div>
          <div class="col-md-6">
            <label class="labels">Surname</label>
            <p class="lead">{{ user.lastName }}</p>
          </div>
          <div class="col-md-12">
            <label class="labels">Location</label>
            <p class="lead">{{ user.location }}</p>
          </div>
        </div>

        <!-- experience section -->
        <div class="row mt-2">
          <div class="col-md-6">
            <label class="labels">Completed projects</label>
            <p class="lead">{{ user.completeProjects }}</p>
          </div>
          <div class="col-md-6">
            <label class="labels">Years of Experience</label>
            <p class="lead">{{ user.yearsOfExperience }}</p>
          </div>
        </div>

        <!-- about section -->
        <div class="d-flex justify-content-between align-items-center mb-3">
          <label class="labels">About</label>
        </div>
        <div class="row mt-2">
          <div class="col-md-12">
            <p class="lead">{{ user.about }}</p>
          </div>
        </div>

        <!-- tech skills section -->
        <div class="d-flex justify-content-between align-items-center mb-3">
          <label class="labels">Tech Skills</label>
        </div>
        <div class="row mt-2">
          <div class="col-md-12 d-flex flex-wrap">
            <app-technologies *ngFor="let technology of user.technologies" [technology]="technology">
            </app-technologies>
          </div>
        </div>

        <!-- languages section -->
        <div class="d-flex justify-content-between align-items-center mb-3">
          <label class="labels">Languages</label>
        </div>
        <div class="row mt-2">
          <div class="col-md-12 d-flex flex-wrap">
            <app-language-button *ngFor="let language of user.languages" [language]="language">
            </app-language-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
