<div class="card mb-3" style="border: none;">

  <div class="card-body">

    <div class="d-flex align-items-center mb-2">

      <div class="post-right-part flex-grow-1">

        <div class="post-content">
          <div class="post-author">
            <p class="lead mb-1"><b>{{ post.username }}</b></p>
          </div>
          <div class="post-time">
            <p style="font-size: smaller;">Created at: {{ post.createdAt }}</p>
          </div>
        </div>

        <div class="post-text" *ngIf="!isEditing && !isReplying()">
          <p class="lead my-4">{{ post.content }}</p>
        </div>

        <app-post-form *ngIf="isEditing" submitLabel="Update" [hasCancelButton]="true" [initialText]="post.content"
          (handleSubmit)="updatePost.emit({text: $event, id: post.id}); stopEditing()"
          (handleCancel)="stopEditing()"></app-post-form>

        <app-post-form *ngIf="isReplying() && !isEditing" submitLabel="Update" [hasCancelButton]="true"
          [initialText]="post.content!" (handleSubmit)="updatePost.emit({text: $event, id: post.id!})"
          (handleCancel)="setActivePost.emit(null)"></app-post-form>


        <button [class.liked]="post.isLikedByCurrentUser" (click)="likePost(post.id)">
          Like
        </button>


        <div class="post-likes">
          Likes: {{ post.likesCount }}
        </div>
        <div class="post-comments">
          Comments: {{ post.comments.length }}
          <div *ngFor="let comment of post.comments">
            {{ comment.content }}
          </div>
        </div>




        <div class="post-actions">

          <div class="post-action btn btn-outline-primary mr-2" (click)="startEditing()"
            *ngIf="userRole==='ADMIN' && !isEditing">
            Edit</div>
          <div class="post-action btn btn-outline-secondary mr-2">Comment</div>
          <div class="post-action btn btn-outline-danger mr-2" (click)="deletePost.emit(post.id)" *ngIf="userRole==='ADMIN'">
            Delete
          </div>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Your comment" [(ngModel)]="commentText">
            <button class="btn btn-outline-primary" type="button" (click)="commentPost()">Comment</button>
          </div>

        </div>

        <app-post-form *ngIf="isReplying() && !isEditing" submitLabel="Reply"
          (handleSubmit)="addPost.emit({text: $event, parentPostId: replyId})">
        </app-post-form>

        <div class="replies" *ngIf="replies.length > 0">

          <div *ngFor="let reply of replies" class="card mb-3">

            <div class="card-body">

              <app-post [post]="reply" (setActivePost)="setActivePost.emit($event)" [activePost]="activePost"
                (addPost)="addPost.emit($event)" (updatePost)="updatePost.emit($event)" [parentPostId]="post.id!"
                [replies]="[]" [currentUserId]="currentUserId" (deletePost)="deletePost.emit($event)">
              </app-post>

            </div>

          </div>

        </div>

      </div>
    </div>
  </div>
</div>
