<app-header></app-header>

<app-back-to-top-btn></app-back-to-top-btn>

<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="../../../assets/img/Pair.png" alt="" width="" height="400">
    <h1 class="display-5 fw-bold text-body-emphasis">Terms of use</h1>
    <div class="col-lg-8 mx-auto">
        <p class="lead mb-4">Welcome to FoxBook, a social networking platform provided by Green Fox Academy ("we," "us,"
            or "our"). These Terms of Use ("Terms") govern your access to and use of the FoxBook social app ("App"),
            including all features, services, and content available through the App. By accessing or using the App, you
            agree to be bound by these Terms. If you do not agree to these Terms, please do not access or use the App.
        </p>
    </div>

    <h2 class="display-5 fw-bold text-body-emphasis">Acceptance of Terms</h2>
    <div class="col-lg-8 mx-auto">
        <p class="lead mb-4">By using the App, you affirm that you are at least 13 years of age and are fully able and
            competent to enter into these Terms. If you are using the App on behalf of an organization or entity, you
            represent and warrant that you have the authority to bind that organization to these Terms.
        </p>
    </div>

    <h2 class="display-5 fw-bold text-body-emphasis">Registration and User Accounts</h2>
    <div class="col-lg-8 mx-auto">
        <p class="lead mb-4"> a. In order to access and use certain features of the App, you may be required to register
            for an account. You agree to provide accurate and complete information during the registration process and
            to keep your account information updated. You are solely responsible for maintaining the confidentiality of
            your account credentials and for all activities that occur under your account.
        </p>
        <p class="lead mb-4"> b. You must not use false or misleading information while creating your account.
            Impersonating another person, entity, or misrepresenting your affiliation with any person or entity is
            prohibited.
        </p>
        <p class="lead mb-4"> c. You are responsible for all activities that occur on your account, whether or not
            authorized by you. You agree to immediately notify us of any unauthorized use or suspected breach of
            security.</p>
    </div>

    <h2 class="display-5 fw-bold text-body-emphasis">Use of the App</h2>
    <div class="col-lg-8 mx-auto">
        <p class="lead mb-4">a. You agree to use the App in compliance with applicable laws, regulations, and these
            Terms. You must not use the App for any unlawful, harmful, or fraudulent purposes.
        </p>
        <p class="lead mb-4">b. You are solely responsible for any content you upload, post, or otherwise make available
            on the App. You represent and warrant that you have all necessary rights and permissions to share such
            content and that it does not violate any third-party rights or any applicable laws.</p>
        <p class="lead mb-4">c. You acknowledge that we do not endorse, guarantee, or verify the accuracy, completeness,
            or authenticity of any content posted or transmitted on the App, including by other users.</p>
        <p class="lead mb-4">d. The App may allow you to upload images. By uploading images, you grant us a
            non-exclusive, royalty-free, worldwide license to use, reproduce, modify, adapt, and display such images
            solely for the purpose of providing and improving the App.</p>
    </div>

    <h2 class="display-5 fw-bold text-body-emphasis">Headhunters and Worker Interactions</h2>
    <div class="col-lg-8 mx-auto">
        <p class="lead mb-4">a. The App may provide features that allow headhunters or recruiters to find and interact
            with workers. We do not guarantee the availability, accuracy, or suitability of any worker profiles or the
            outcome of any interactions between headhunters and workers. We do not endorse or verify the information
            provided by headhunters or workers on the App.
        </p>
        <p class="lead mb-4">b. You are solely responsible for any interactions, negotiations, or agreements you enter
            into with headhunters or workers through the App. We shall not be liable for any loss, damage, or disputes
            arising from such interactions.
        </p>
    </div>

    <h2 class="display-5 fw-bold text-body-emphasis">Intellectual Property</h2>
    <div class="col-lg-8 mx-auto">
        <p class="lead mb-4">a. The App and its content, including but not limited to text, graphics, logos, images,
            software, and any other materials, are protected by intellectual property rights and are owned by us or our
            licensors. You agree not to modify, reproduce, distribute, transmit, display, perform, or create derivative
            works from any content obtained through the App without our prior written consent.
        </p>
        <p class="lead mb-4">b. By submitting any feedback, suggestions, or ideas to us regarding the App, you grant us
            a non-exclusive, worldwide, royalty-free, perpetual, irrevocable, and fully sublicensable right to use,
            reproduce, modify, adapt, publish, translate, distribute, and display such feedback for any purpose.
        </p>
    </div>

    <h2 class="display-5 fw-bold text-body-emphasis">Privacy</h2>
    <div class="col-lg-8 mx-auto">
        <p class="lead mb-4">a. Your privacy is important to us. Our collection, use, and disclosure of your personal
            information are governed by our Privacy Policy, which is incorporated by reference into these Terms.
        </p>
    </div>

    <h2 class="display-5 fw-bold text-body-emphasis">Termination</h2>
    <div class="col-lg-8 mx-auto">
        <p class="lead mb-4"> We reserve the right to suspend, terminate, or restrict your access to the App, at our
            sole discretion, without prior notice or liability, for any reason, including but not limited to a violation
            of these Terms or applicable laws.
        </p>
    </div>

    <h2 class="display-5 fw-bold text-body-emphasis">Disclaimer of Warranties</h2>
    <div class="col-lg-8 mx-auto">
        <p class="lead mb-4"> THE APP IS PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS, WITHOUT WARRANTY OF ANY KIND.
            WE DISCLAIM ALL WARRANTIES, WHETHER EXPRESS, IMPLIED, STATUTORY, OR OTHERWISE, INCLUDING BUT NOT LIMITED TO
            WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT.
        </p>
    </div>

    <h2 class="display-5 fw-bold text-body-emphasis">Limitation of Liability</h2>
    <div class="col-lg-8 mx-auto">
        <p class="lead mb-4"> TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, WE SHALL NOT BE LIABLE FOR ANY
            INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL, OR EXEMPLARY DAMAGES ARISING OUT OF OR IN CONNECTION WITH THE
            APP OR THESE TERMS, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
        </p>
    </div>

    <h2 class="display-5 fw-bold text-body-emphasis">Governing Law and Dispute Resolution</h2>
    <div class="col-lg-8 mx-auto">
        <p class="lead mb-4"> These Terms shall be governed by and construed in accordance with the laws of
            [Jurisdiction]. Any disputes arising out of or in connection with these Terms shall be subject to the
            exclusive jurisdiction of the courts of [Jurisdiction].
        </p>
    </div>

    <h2 class="display-5 fw-bold text-body-emphasis">Modifications</h2>
    <div class="col-lg-8 mx-auto">
        <p class="lead mb-4"> We reserve the right to modify or update these Terms at any time, without prior notice.
            The updated Terms will be effective as of the date of posting. Your continued use of the App after the
            posting of the updated Terms constitutes your acceptance of the changes.
        </p>
    </div>
    <h2 class="display-5 fw-bold text-body-emphasis">Severability</h2>
    <div class="col-lg-8 mx-auto">
        <p class="lead mb-4"> If any provision of these Terms is held to be invalid, illegal, or unenforceable, the
            validity, legality, and enforceability of the remaining provisions shall not in any way be affected or
            impaired.
        </p>
    </div>
    <h2 class="display-5 fw-bold text-body-emphasis">Entire Agreement</h2>
    <div class="col-lg-8 mx-auto">
        <p class="lead mb-4"> These Terms constitute the entire agreement between you and Green Fox Academy regarding
            the App and supersede all prior or contemporaneous agreements, understandings, and representations.
        </p>
    </div>

    <div class="col-lg-8 mx-auto">
        <p class="lead mb-4"> If you have any questions or concerns about these Terms, please contact us at [contact
            information].
        </p>
    </div>

    <div class="col-lg-8 mx-auto">
        <p class="lead mb-4"> Thank you for using FoxBook!
        </p>
    </div>
</div>

<app-footer></app-footer>