h1 span {
    color: #007f00;
}

img {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.people-list {
    margin: 1rem;
    padding: 1rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 767.98px) {

    .people-list {
        grid-template-columns: repeat(1, 1fr);
        margin: 0;
        padding: 0;
    }

}

.border {
    border-radius: 10px;
}

app-people-page-card {
    width: 100%;
    display: contents;
}

select {
    border-color: green !important;
    background: white !important;
    color: green !important;
}

.dropdown-menu {
    max-height: 300px;
    overflow: auto;
}

.form-check label:hover {
    cursor: pointer;
}