<app-header></app-header>

<app-back-to-top-btn></app-back-to-top-btn>

<!-- intro section -->

<div class="container col-xxl-8 px-4 py-3">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-4">

    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 page-header">Looking for a <span>Support</span>?</h1>
      <br>
      <h2 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">We got you covered!</h2>
      <p class="lead">Explore world of remarkable individuals, each with their unique story and
        expertise. Witness the <b>passion</b> that drives them, the <b>projects</b> that define them, and the
        <b>accomplishments</b>
        that set them apart.
      </p>
      <p class="lead">Whether you seek inspiration, mentorship, or the perfect addition to your team, our
        user directory is your <b>gateway</b> to connecting with the brightest stars of the tech universe. </p>
    </div>

    <div class="col-10 col-sm-8 col-lg-6">
      <img ngSrc="/assets/img/peopleSearch.png" class="d-block mx-lg-auto img-fluid" alt="Meeting" width="700"
           height="500" loading="lazy">
    </div>
  </div>
</div>

<div class="container">

  <div class="py-5 text-center">
    <h2 class="display-5 fw-bold text-body-emphasis mb-4">Shop your colleague and</h2>
    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-4 page-header">Find a perfect <span>Match</span> for you!
    </h1>
    <p class="lead"><i class="bi bi-lightbulb mr-1"></i><b>Pro Tip:</b> Use the filters to boost your results.</p>
    <a routerLink="/personality-test" class="btn btn-outline-primary btn-lg px-4 me-md-2" role="button"
       aria-disabled="true">Learn more about personality</a>
  </div>

  <div class="row my-4">
    <div class="col-md-3">

      <div class="py-2 text-center">
        <h5 class="display-6 fw-bold text-body-emphasis">Filter</h5>
        <button class="btn btn-link text-decoration-none" type="button" (click)="toggleFilterContent()">
          <i [ngClass]="filterContentExpanded ? 'bi bi-chevron-down' : 'bi bi-chevron-up'"></i>
        </button>
      </div>

      <div [ngClass]="filterContentExpanded ? 'collapse show' : 'collapse'" id="filterContent">
        <p class="lead mt-4 border-bottom">Technology</p>
        <div class="dropdown">
          <button class="btn btn-outline-primary dropdown-toggle" type="button" id="techDropdown" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
            Techs
          </button>
          <div class="dropdown-menu" aria-labelledby="techDropdown">
            <tr *ngFor="let tech of usedTechnologies">
              <td class="py-2 px-2"><label><input class="mr-2" type="checkbox"
                                                  (change)="addToTechList($event, tech.name)">
                <span>{{tech.name}}</span></label></td>
            </tr>
          </div>
        </div>

        <p class="lead mt-4 border-bottom">Languages</p>
        <div class="dropdown">
          <button class="btn btn-outline-primary dropdown-toggle" type="button" id="langDropDown" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
            Languages
          </button>
          <div class="dropdown-menu" aria-labelledby="langDropDown">
            <tr *ngFor="let lang of usedLanguages">
              <td class="py-2 px-2"><label><input class="mr-2" type="checkbox"
                                                  (change)="addToLangList($event, lang.name)">
                <span>{{lang.name}}</span></label></td>
            </tr>
          </div>
        </div>

        <p class="lead mt-4 border-bottom">Personality</p>
        <select class="btn btn-outline-primary dropdown-toggle" type="button" aria-label="Default select example"
                (change)="onPersonalitySelect($event)">
          <option>All</option>
          <option *ngFor="let personality of personalities" [value]="personality.id">{{personality.type}} -
            {{personality.name}}</option>
        </select>


        <p class="lead mt-4 border-bottom">Seeking employment</p>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios0" value="all"
                 [(ngModel)]="workStatus" (ngModelChange)="onWorkStatusChange()">
          <label class="form-check-label" for="exampleRadios0">
            All
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="open"
                 [(ngModel)]="workStatus" (ngModelChange)="onWorkStatusChange()">
          <label class="form-check-label" for="exampleRadios1">
            True
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="closed"
                 [(ngModel)]="workStatus" (ngModelChange)="onWorkStatusChange()">
          <label class="form-check-label" for="exampleRadios2">
            False
          </label>
        </div>

        <p class="lead mt-4 border-bottom">Age up to</p>
        <div class="input-group mb-5">
          <input type="range" class="form-range flex-fill" min="18" max="70" step="1" id="customRange3" #customRange3
                 value="70">
          <span class="input-group-text ml-2" id="rangeValue" #rangeValue>70</span>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="row people-list">

        <app-people-page-card class="ml-4" *ngFor="let user of users" [user]="user"></app-people-page-card>

        <p>1 filter missing :</p>
        <ng-container *ngFor="let user of nonFilteredUsers">
          <ng-container *ngIf="user.outOfFilters?.length === 1">
            <app-people-page-card [user]="user"></app-people-page-card>
          </ng-container>
        </ng-container>

        <p>2 filter missing :</p>
        <ng-container *ngFor="let user of nonFilteredUsers">
          <ng-container *ngIf="user.outOfFilters?.length === 2">
            <app-people-page-card [user]="user"></app-people-page-card>
          </ng-container>
        </ng-container>

        <p>more: </p>
        <ng-container *ngFor="let user of filteredUsers">
          <app-people-page-card [user]="user"></app-people-page-card>
        </ng-container>


      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
