<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main page</title>
</head>

<body>
<div>
  <header></header>
  <main>
    <article>
      <h3 class="article-heading"></h3>
      <p class="article-content"></p>
      <time class="time-stamp"></time>
      <button class="like">like</button><button class="dislike">dislike</button><button
      class="comment">comment</button>
    </article>
  </main>
  <aside>
    <button class="show-all">
      <a href="">
        <h4 class="h4-show-all">Show all</h4>
        <img src="" alt="img of fucking lupa" class="lupa">
      </a>
    </button>
    <div>
      <a href="" class="profile">
        <img src="" alt="profile picture" class="profile-pic">
        <h4 class="h4-user-name">Name of user</h4>
      </a>
    </div>
  </aside>
  <footer></footer>
</div>

</body>

</html>
